body {
    background-color: green;
}

.button {
    border-radius: 5px;
    display: inline-block;
    background-color: darkcyan;
    width: 150px;
    height: 30px;
    text-align: center;

}

.button_a {
    border-radius: 5px;
    display: inline-block;
    background-color: darkcyan;
    width: 150px;
    height: 30px;
    text-align: center;

}

.button_b {
    border-radius: 5px;
    display: inline-block;
    background-color: darkcyan;
    width: 150px;
    height: 30px;
    text-align: center;

}